/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
    padding: 10%;
    display: flex;
    text-align: center;

}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
    

}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

body {
    background-color: #E1D6EA;
}
  

header {
    justify-content: center;
    background-color: #bd9bda;
    border-bottom: solid;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    height: 90px;
}


nav ul {
    padding: 10px;
}

nav ul li {
    border-left: solid 1px;
    padding: 20px 0px;
    margin-top: 5px;
    float: right;

}

#modo-oscuro-btn{
    margin-top: 12px;
    margin-left: 15px;
    background-color: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#luna {
    height: 40px;
    
}

a {
padding: 20px;
    margin: 0;
}


h1 {
    padding-bottom: 20px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 48px;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}
p {
    margin-bottom: 20px;
    padding: 10px 3px;
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.btn {

    text-align: center;
    background-color: #bd9bda;
    padding: 10px;
    border-radius: 50px;
    

}

.btn:hover {
    transition-duration: 0.4s;
    background-color: #000000; /* Color de fondo cuando el cursor está encima */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Efecto de sombra */
  }

#logo {
    max-width: 200px;
    max-height: 85px;
    width: 50%;
    float: left;
    padding-top: 3px;
}

.imagen {
    text-align: center;

}

#fotoP {
    margin-top: 150px;
    border-radius: 50%;
    width: 90%;
    max-width: 400px;

}

article {
    padding: 30px;
    text-align: center;
}

#dos {
    margin-top: 150px;
    margin-bottom: 30px;
    background-color: #bd9bda;
    border-radius: 20px;
}

#iconos {
    padding: 10%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

ul {
    margin-bottom: 100px;
}

#git {
    width: 40%;
}


#linkedin {
    width: 40%;
}

#mail {
    width: 40%;
}

footer {
    height: 90px;
    width: 100%;
    padding: 35px;
    text-align: center;
    background-color: #bd9bda;
    position: fixed;
    bottom: 0;
}

/* Estilos para el modo oscuro */

header.dark-mode {
background-color: rgba(11, 11, 11);
}

body.dark-mode {
  
  background-color: #333c44;
  color: #ffffff;
}

#dos.dark-mode {
    background-color: rgba(11, 11, 11);
}

footer.dark-mode {
    background-color: rgba(11, 11, 11);
}


li.menu-item:hover,
li.menu-item a.active,
a.btn:hover {
    background: #E1D6EA;
    transition: background-color 0.3s;
    color: #000000;
}

/* Desktop */

@media screen and (min-width: 800px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    .contenedor-comun {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #inicio {
        flex: 1;
    }

    .imagen {
        flex: 1;
    }

    nav ul {
        text-align: right;
        display: flex;
        justify-content: right;
        
    }

    #fotoP {
        margin-top: auto;
    }

    #git {
        width: 100px;
       padding-right: 40px;
    }
    
    #linkedin {
        width: 100px;
       padding-right: 40px;
    }
    
    #mail {
        width: 100px;
       padding-right: 40px;
    }

    
}